<!-- Created left and Right sidebar -->
<!-- Left sidebar -->
<div class="row">
  <div class="col-sm-2" class="budget">
    <!-- title -->
    <h3 class="h3">Budget</h3>
    <section style="margin: 50px">
      <!-- Dashboard svg and Dashboard title of left sidebar -->
      <img
        src="../../../assets/dashboard.svg"
        style="width: 14px; height: 24px; left: 24px; top: 149px"
      />Dashboard
    </section>
    <!-- LogOut svg and User profile -->
    <section class="logout">
      <img src="../../../assets/Ellipse 151.png" />Catherine
      <small class="callID">+91 9876543210</small>
      <p class="signout"><img src="../../../assets/Sign Out.png" />LogOut</p>
    </section>
    <br />
  </div>

  <!-- Right sidebar -->
  <div class="col-sm-8">
    <!-- Dashboard title with Lorem Ipsum of right sidebar -->
    <h2 class="h2-heading">Dashboard</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    <!-- info icon alongwith request -->
    <div class="container">
      <p>
        <img src="../../../assets/Group 1086591.png" alt="" />&nbsp;<span
          class="text"
          >You Have
          <strong>32 Support Request Pending for Response</strong></span
        >&nbsp; <span class="view">View </span>
      </p>
      <p>
        <img src="../../../assets/Group 1086651.png" alt="" />
      </p>
      <!-- Active User table view -->
      <div class="container-fluid">
        <h2 class="heading"><strong>Recently Active Users</strong></h2>
        <table class="table">
          <thead class="thead">
            <tr class="table-heading">
              <th scope="col">USER ID/NAME</th>
              <th scope="col">PHONE NUMBER</th>
              <th scope="col">TRANSCATION CATEGORY</th>
              <th scope="col">TRANSACTION AMOUNT</th>
              <th scope="col">ACCOUNT TYPE</th>
              <th scope="col">BALANCE AMOUNT</th>
            </tr>
          </thead>
          <tbody class="tableBody">
            <tr>
              <th scope="row">
                Monicca James
                <caption class="captions">
                  ID 123456789
                </caption>
              </th>
              <td>+91 9876543210</td>
              <td>
                Income
                <caption class="captions">
                  Salary
                </caption>
              </td>
              <td>$200</td>
              <td>Savings</td>
              <td>$6000</td>
              <td></td>
            </tr>
            <tr style="background: #edf6fe">
              <th scope="row">
                Samantha
                <caption class="captions">
                  ID 123456789
                </caption>
              </th>
              <td>+91 9876543210</td>
              <td>
                Income
                <caption class="captions">
                  Salary
                </caption>
              </td>
              <td>$200</td>
              <td>Savings</td>
              <td>$6000</td>
              <td style="text-decoration: underline">View</td>
            </tr>
            <tr>
              <th scope="row">
                Catherine
                <caption class="captions">
                  ID 123456789
                </caption>
              </th>
              <td>+91 9876543210</td>
              <td>
                Income
                <caption class="captions">
                  Salary
                </caption>
              </td>
              <td>$200</td>
              <td>Savings</td>
              <td>$6000</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">
                Monicca James
                <caption class="captions">
                  ID 123456789
                </caption>
              </th>
              <td>+91 9876543210</td>
              <td>
                Income
                <caption class="captions">
                  Salary
                </caption>
              </td>
              <td>$200</td>
              <td>Savings</td>
              <td>$6000</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">
                Ileana Sam
                <caption class="captions">
                  ID 123456789
                </caption>
              </th>
              <td>+91 9876543210</td>
              <td>
                Income
                <caption class="captions">
                  Salary
                </caption>
              </td>
              <td>$200</td>
              <td>Savings</td>
              <td>$6000</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <!-- View All Button -->
        <button class="btn btn-transparent text-center" type="submit">
          View All
        </button>
      </div>
    </div>
  </div>
</div>
