<!-- Created left and right sidebars -->
<!-- left sidebar contains the image with Budget title -->
<div class="row">
  <div class="col-sm-6" style="background-color: #f5f5f5">
    <h5 class="page-header">Budget</h5>
    <img src="../../../assets/Rectangle 2313.png" class="img" alt="" />
  </div>
  <!-- left sidebar ends here -->
  <!-- right side bar starts here -->
  <div class="col-sm-6" style="background-color: #f5f5f5">
    <!-- right corner help text and lanuage dropdown with flag icon -->
    <div class="right-corner">
      <div class="col-sm-6">
        Having trouble?<strong>Get Help</strong>
        <button
          class="btn"
          class="btn btn dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="true"
        >
          <img
            src="../../../assets/UK.svg"
            alt=""
            style="
              width: 16px;
              height: 12px;
              border-radius: 2px;
              flex: none;
              order: 0;
              flex-grow: 0;
            "
          />
          Eng
        </button>
      </div>
    </div>
    <!-- flag icon right corner div ends here -->
    <!-- login part starts here -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <div class="heading">
            <h2 class="h2">Login To Budget</h2>
            <p class="sub">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </p>
          </div>
          <!-- login form starts here -->
          <div class="container">
            <form>
              <!-- email -->
              <div class="form-floating">
                <input
                  type="email"
                  class="form-control"
                  name="title"
                  id="floatingInputValue"
                  placeholder="name@example.com"
                  value="johnsamuel1992@gmail.com"
                  style="
                    border: 1px solid #005eff;
                    border-radius: 10px 10px 0px 0px;
                  "
                />
                <label for="floatingInputValue">Email</label>
              </div>
              <!-- password -->
              <div class="form-floating">
                <input
                  type="password"
                  class="form-control"
                  name="title"
                  id="floatingInputPassword"
                  placeholder="Password"
                />
                <label for="floatingInputValue"
                  >Password <span class="show">Show</span></label
                >
              </div>
              <br />
              <!-- check box for keep me logged in -->
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Keep me logged in
                </label>
                <!--Forgot password  -->
                <div class="forget" style="float: right">Forgot Password?</div>
              </div>
              <br />
              <!-- Login button -->
              <button class="btn btn-primary" type="submit">Login</button>
              <br />
              <br />
              <!-- Create new Account -->
              <p class="para">Create New Account?</p>
            </form>
            <!-- login form ends here -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
